.header {
  background-color: #0071f7;
  color: white;
}

.input-wrapper {
  width: 90%;
  margin-right: 10px;
}

.my-btn {
  margin-right: 10px;
}

.todo-enter-active {
  animation: todo 0.8s ease-in alternate-reverse;
}

.todo-exit-active {
  animation: todo 0.8s ease-out alternate-reverse;
}

.title-done {
  opacity: 0.5;
  text-decoration: line-through;
  transition: opacity 0.3s ease-in-out;
}

@keyframes todo {
  0% {
    transform: translateX(0);
  }
  30% {
    opacity: .7;
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-200px);
  }
}
